svg {
  display: block;
  margin: 30px auto 50px;
}

.line {
  fill: none;
  stroke-width: 3px;
}

.img-responsive {
  margin: 50px auto 30px;
}

pre {
  font-size: 18px;
  margin: 40px 0;
}

/* TODO change axis color, currently its #000 */

svg text {
  font-family: monospace;
}

.axis {
  stroke-width: 2px;
}

.axis text {
  stroke: #ababab;
  stroke-width: 1px;
  font-size: 12px;
  font-weight: 100;
}

.axis_label {
  font-size: 14px;
}

.data_label {
  font-size: 12px;
  fill: #333;
}

.data_label.no_error {
  fill: #000;
  stroke: #000;
}

.axis .tick_0, .axis .tick_100, .axis .tick_200,
.axis .tick_900, .axis .tick_1000 {
  stroke: #111;
}
