svg {
  display: block;
  margin: 50px auto;
}

.line {
  fill: none;
  stroke-width: 3px;
}

.img-responsive {
  margin: 50px auto 30px;
}

.axis {
  stroke-width: 3px;
  stroke: #3d3d3d;
}

.axis text {
  stroke: #ababab;
  stroke-width: 1px;
  font-size: 12px;
  font-weight: 100;
  font-family: monospace;
}

.label {
  font-size: 12px;
  text-align: center;
}

pre {
  font-size: 18px;
  margin: 40px 0;
}
