.banner {
  width: 100%;
}

h3, .caption, .view-more {
  text-align: center;
}

.caption { 
  font-size: 14px;
}

form {
  text-align: center;
  margin: 20px 0 10px;
}

#top_border {
  display: none;
}

.about {
  margin-bottom: 80px;
}

.map_link {
  min-height: 400px;
}

.email {
  font-family: Monospace;
}

#email_response {
  font-size: 14px;
}

section {
  margin: 50px 0;
}

.post {
  padding-bottom: 0;
}
