#page_container {
    min-height: 100%;
    padding-bottom: 123px;
    @media (max-width: $tablet) {
        padding-bottom: 377px;
    }
}

footer {
    color: white;
    z-index: 20;
    background: $red;
    padding: 70px 0 80px;
    margin-top: -123px;
    @media (max-width: $tablet) {
        margin-top: -377px;
    }
    a {
        p {
            color: $whitered;
        }
        &:hover {
            text-decoration: none;
            p {
                color: lighten($red, 25%);
            }
        }
    }
    .contact {
        text-align: center;
        p.icon {
            font-size: 42px;
            margin-bottom: 0;
        }
        div.email {
            p.icon {
                font-size: 48px;
                line-height: 62px;
            }
        }
        div.service {
            @media (max-width: $tablet) {
                margin-bottom: 40px;
            }
        }
    }
}
