<h3>About The Data</h3>
<p>These maps were derived from public data provided by the
  <a href="https://vcgi.vermont.gov/" alt="VCGI homepage">Vermont Center
  for Geograhic Information</a>.</p>
<p>I used 0.7-meter resolution DEM data to generate
  hillshade, 0.7-meter resolution DSM data to give the map some of the texture of
  the trees, and 0.5-meter resolution tree canopy classification to color the landscape
  for coniferous or deciduous. The state's E-911 data was used for roads and trails.
</p>
<p>All styling done in QGIS on my underpowered laptop.</p>
