<footer>
    <div class="container">
        <div class="contact row">
            <a href="http://twitter.com/mattparrilla" alt="Matt's twitter profile" class="service col-sm-4">
                <p class="icon"><i class="icon ion-social-twitter"></i></p>
                <p>@mattparrilla</p>
            </a>
            <a href="http://github.com/mattparrilla" alt="Matt's github profile" class="service col-sm-4">
                <p class="icon"><i class="icon ion-social-github"></i></p>
                <p>mattparrilla</p>
            </a>
            <a href="mailto:me@matthewparrilla.com" alt="Email Matt" class="service email col-sm-4">
                <p class="icon"><i class="icon ion-email"></i></p>
                <p>me@matthewparrilla.com</p>
            </a>
        </div>
    </div>
</footer>
