{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/maps.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row post">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="title-block">
        <h1>Green Mountain Maps</h1>
        <h2>Winter in High Definition</h2>
      </div>
      <div id="body">
        <p><strong>The Northern Green Mountains are home to some of the best tree skiing
        this side of Hokkaido.</strong> For the first time, they can be explored in high definition
        maps with elevation resolution 10 times better than any previously available
        and with tree-type classification accurate to a half-meter.</p>
        <p>Click on any map to view it in full resolution. Happy hunting.</p>

        <h3>Mount Mansfield Region</h3>
        <img class="img-responsive" src="{{ url_for('static', filename='img/winooski_to_lamoille_1000.png') }}" alt="Green mountains, Winooski to Lamoille"></img>
        <p class="caption">The Green Mountains from the Winooski to the Lamoille River.</p>

        <h3>Stowe</h3>
        <img class="img-responsive" src="{{ url_for('static', filename='img/stowe_1000.png') }}" alt="Stowe Mountain Resort"></img>
        <p class="caption">Stowe Mountain Resort</p>

        <h3>Smugglers Notch</h3>
        <img class="img-responsive" src="{{ url_for('static', filename='img/smuggs_1000.png') }}" alt="Smugglers Notch">
        <p class="caption">Smugglers Notch</p>

        <h3>Bolton Valley</h3>
        <img class="img-responsive" src="{{ url_for('static', filename='img/bolton_1000.png') }}" alt="Bolton Valley in the late day sun"></img>
        <p class="caption">Bolton Valley in the late day sun.</p>

        <h3>Bolton to Trapps</h3>
        <img class="img-responsive" src="{{ url_for('static', filename='img/bolton_to_trapps_1000.png') }}" alt="Bolton to Trapps"></img>
        <p class="caption">Bolton to Trapps</p>

        <h3>Want More?</h3>
        <p>Provide your email to be notified when print maps are available or
        new maps are made public.</p>
        <form class="form-inline">
          <div class="form-group">
            <label for="email">Enter your email</label>
            <input type="email" class="form-control" id="email" placeholder="jon.snow@pow.com">
          </div>
        </form>
        
        <h3>About The Data</h3>
        <p>These maps were derived from public data provided by the
          <a href=https://vcgi.vermont.gov/" alt="VCGI homepage">Vermont Center
          for Geograhic Information</a>. I used 0.7m resolution DEM data to generate
          hillshade, 0.5m resolution Tree Canopy data to color the landscape, the
          E-911 data for roads and trails.
        </p>
        <p>All styling done in QGIS on an underpowered laptop.</p>
      </div>
    </div>
  </div>
{% endblock %}

