{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/maps.css') }}" rel="stylesheet">
{% endblock %}

{% block banner %}
<img class="banner" src="{{ url_for('static', filename='img/maps/mansfield_region_banner.png') }}" alt="Mansfield region banner"></img>
{% endblock %}

{% block content %}
  <div class="row post">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="title-block">
        <h1>Green Mountain Maps</h1>
        <h2>Winter in High Definition</h2>
      </div>

      <p><strong>The Green Mountains are home to some of the best tree skiing
      in the Northeast.</strong> For the first time, they can be explored in high definition
      maps with elevation resolution 10 times better than any previously available
      and with tree-type classification accurate to a half-meter.</p>
      <p>Click on any map to view it in full resolution. Enjoy!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {% for name, obj in maps.items() %}
        {# if odd number index (jinja loop is 1-indexed, start row #}
        {% if loop.index % 2 %}
          <div class="row">
        {% endif %}
        <div class="col-md-6">
          <div class="map_link">
            <a href="{{ url_for('map', title=name) }}" alt="{{ obj.title }} map">
              <h3>{{ obj.title }}</h3>
              <img class="img-responsive" src="{{ url_for('static', filename=obj.social_image) }}" alt="{{ obj.description }}"></img>
            </a>
          </div>
        </div>
        {# if even number or if last item in list, close row #}
        {% if not loop.index % 2 or loop.index == maps.items()|length %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row about">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

      <h3>Want More?</h3>
      {% include "map-get-email.html" %}
      <p>Provide your email to be notified when print maps are available or
      new maps are made public.</p>

      <h3>Missing Something?</h3>
      <p>Not seeing your favorite mountain on here? Let me know what you're looking
        to see by sending me an email at <span class="email">matthew.parrilla@gmail.com</span> and
        I'll look into it!</p>

      {% include "about-lidar.html" %}
    </div>
  </div>
{% endblock %}

