{% extends "base.html" %}

{% block content %}
  <div class="row post earth_at_night">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="title-block">
        <p class="date">February 13, 2023</p>
        <h1>How To Fake A Long-Exposure Photo Of The Earth At Night</h1>
      </div>
      <div id="body">
        <img
          class="img-responsive"
          src="{{ url_for('static', filename='img/long_exposure_earth_at_night.jpg') }}"
          alt="Long exposure photo of earth at night"
        />
        <p>You're probably familiar with star trail photos, where a camera captures the stars as they circle around Polaris, forming trails. But have you ever seen a long-exposure photo of the earth at night, with her lights forming trails of their own? Me neither! So I made one. Here's how I did it using Photoshop.</p>
        <p>To fake a long exposure shot of the earth at night, we need a sequence of frames that we'll blend together.</p>
        <p>NASA's Suomi NPP captures such imagery. On the <a href="https://earthobservatory.nasa.gov/features/NightLights">Earth Observatory page "Earth At Night"</a> they've got a video of a full rotation of the earth at night from 2016 that we'll use to create our long exposure. Here's a <a href="https://earthobservatory.nasa.gov/ContentFeature/NightLights/images/media/BlackMarble_2016_rotate_1080p.mov" target="_blank">direct link</a> to that video.</p>
        <img
          class="img-responsive"
          src="{{ url_for('static', filename='img/earth_at_night.gif') }}"
          alt="Animation of earth rotating at night"
        />
        <p>Armed with our source data, we're ready to make our image. Here's how to do it.</p>

        <h3>Import The Video Into Photoshop</h3>
        <p>Open Photoshop and choose <span class="menu_item">File > Import > Video Frames Into Layers</span> and select the video. (Download the video from <a href="https://earthobservatory.nasa.gov/ContentFeature/NightLights/images/media/BlackMarble_2016_rotate_1080p.mov" target="_blank">here</a> if you haven't already.)</p>

        <h3>Make All Layers Visible</h3>
        <p>Once all the layers have loaded, we'll need to make sure they are all visible.</p>
        <p>Click on the first layer, then scroll all the way to the bottom, hold down shift and click on the last layer. Then go to the <span class="menu_item">Layer</span> menu and choose <span class="menu_item">Hide Layers.</span> Then, back into the <span class="menu_item">Layer</span> menu and click <span class="menu_item">Show Layers</span>. You should now have the layer visibility icon (an eye) next to each layer.</p>
        <p>Yes, this step is a bit cumbersome. If you know of a better way to show all layers let me know!</p>

        <h3>Convert To A Smart Object</h3>
        <p>With all of the layers still selected, right click on the selection and choose <span class="menu_item">Convert To Smart Object.</span></p>

        <h3>Stack The Layers</h3>
        <p>Now that we've got a smart object, go to <span class="menu_item">Layer > Smart Objects > Stack Mode</span> and select <span class="menu_item">Maximum</span>.</p>
        <img
          class="img-responsive"
          src="{{ url_for('static', filename='img/earth_pre_motion_blur.jpg') }}"
          alt="Earth at night before motion blur"
        />
        <p>This will pull the brightest pixel from all the layers to the top. Now we can see the lights tracing their path around the earth.</p>
        <p>But since this isn't a true long-exposure shot, we don't get those nice trails as the earth spins around, instead we see the lights as little dots for each frame.</p>

        <h3>Add Some Motion Blur</h3>
        <p>To fix this we'll add some motion blur. Go to <span class="menu_item">Filter > Blur > Motion Blur</span>. I found a blur of 60 pixels gave me a nice effect that turned our dots into lovely trails.</p>
        <img
          class="img-responsive"
          src="{{ url_for('static', filename='img/earth_with_blur_no_clip.jpg') }}"
          alt="Earth at night with motion blur, before clipping."
        />
        <p>But now we've fuzzed out the shape of earth. Let's do something about that.</p>

        <h3>Create Layer At The Bounds of Earth</h3>
        <p>First, we'll undo our motion blur change. We'll bring it back in a minute.</p>
        <p>Next, select a contiguous area using the magic wand tool targeting the black of space. Our goal is to create a selection of everything but earth. I found a tolerance of 4 got me the selection that I was looking for.</p>
        <p>Go ahead and copy this selection and paste it into a new layer, putting it on top of our stacked smart object. It should look exactly the same as it did before we added motion blur.</p>

        <h3>Re-Add Motion Blur</h3>
        <p>Now that we've got our space layer, we can re-add the motion blur. Now, we just make sure our space layer is visible and on top of our motion blurred layer and voila, we've now got a faked long-exposure shot of earth at night!</p>
        <img
          class="img-responsive"
          src="{{ url_for('static', filename='img/earth_at_night_clipped_and_blurred.jpg') }}"
          alt="Earth at night clipped and blurred"
        />

        <h3>That's It!</h3>
        <p>You'll of course notice that my image at the top doesn't look like the image we just created. It's true, I did some extra Photoshopping, changing the colors and adding a background of stars and some atmospheric glow around the edges of earth. I leave improving our image as an exercise to the reader!</p>


        </div>

      {% include "other-stuff-2023.html" %}
    </div>
  </div>
{% endblock %}
