{% extends "lidar_map.html" %}

{% block body %}
  <img class="img-responsive" src="{{ url_for('static', filename='img/winooski_to_lamoille_1000.png') }}" alt="Green mountains, Winooski to Lamoille"></img>
  <p class="caption">To download at full resolution (50.7MB) <a href="#" alt="full resolution of Mount Mansfield region map">click here.</a>
  <p>This section of the Green Mountains is home to the highest mountain in Vermont, Mount Mansfield. It is also my home range, with the western edge only 30 minutes from where I live in Burlington, Vermont.</p>
  <p>Within are three ski resorts and backcountry zones both well known and little explored. Mount Mansfield is home to the largest alpine zone in the state and many of the peaks and drainages offer some of the best tree skiing around.</p>
{% endblock %}
