<div class="row featured-stuff">
  <h2>Other Stuff By Matt</h2>
  <div class="col-md-6 feature">
      <a href="https://ramblemaps.com/if-google-earth-were-designed-for-wall" alt="If Google Earth Were Designed For Your Wall">
          <img class="img-responsive img-bordered" src="{{ url_for('static', filename='img/google-earth-for-your-wall.jpg') }}" alt="Side angle photo of Mount Rainier acrylic print">
          <h4>If Google Earth Were Designed For Your Wall</h4>
      </a>
      <p>The window that Google Earth provides into our world is mind-blowing and the imagery is fantastic. But the very thing that makes it so amazing - that you can look anywhere in the world in great detail on demand - is a design constraint that leaves room for improvement when the goal is to display a large format image on the wall.</p>
  </div>
  <div class="col-md-6 feature">
      <a href="https://ramblemaps.com/why-does-sunlight-come-from-north" alt="Why does sunlight come from the north in shaded relief maps?">
          <img class="img-responsive img-bordered" src="{{ url_for('static', filename='img/escher-cubes.jpg') }}" alt="Escher cubes">
          <h4>Why Does Sunlight Come From The North In Shaded Relief Maps?</h4>
          <p>If you've got a sharp eye and a knack for details, you might have noticed the sun coming from an unrealistic angle in most shaded relief maps: the north. In this article we explain why.</p>
      </a>
  </div>
  <p class="centered-with-space">See the rest - <a href="/">matthewparrilla.com</a></p>
</div>
