{% extends "base.html" %}
{% block head %}<meta name="robots" content="noindex" />{% endblock %}
{% block content %}
  <div class="intro row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h1>Hi, I'm Matt.</h1>
      <div class="introduction">
        <p>I'm a software developer with a decade of experience in fields spanning cryptocurrency, robotics, and GIS.</p> 
        <p>I'm interested in developing a protocol for associating a wallet with a physical location.</p>
        <p>I have some direct experience with this in my most recent contract work and related experiences over my career.</p>
      </div>
      <hr>
    </div>
  </div>

  <div class="resume row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h2 id="recent-work">My Relevant Experience</h2>
      
      <div class="project">
        <h3>Software Developer (Contract), Anima</h3>
        <p class="date">February 2022 - January 2023</p>
        <p>Full-stack software development (React + Node + Solidity) for this augmented-reality NFT startup.</p>
        <p>One of Anima's products I worked on was an <a href="https://anima.supply/demsky/mirror?m=mirzam">NFT on the Polygon network</a> with on-chain attributes that change when brought to specific sites around the world.</p>
      </div>

      <div class="project">
        <h3>Cartographer and Founder, Ramble Maps</h3>
        <p class="date">December 2019 - Present</p>
        <p>I own and operate a direct-to-consumer wall map business along with a partner. I make maps, write blog posts, maintain our website, and write plugins for map creation.</p>
      </div>

      <div class="project">
        <h3>Robotics Engineer, Greensea Systems</h3>
        <p class="date">October 2017 - December 2019</p>
        <p>I was a software developer and system integrator for marine vehicles with a focus on underwater navigation.</p>
        <p>In the underwater environment, there is no GPS, so you've got to rely on alternative systems to determine position. <a href="{{url_for('post', title='inertial-navigation-marine-robotics') }}">My writing sample</a> expands upon the challenges of underwater navigation.</p>
      </div>

     
       
      <div class="project">
        <h3>Newsroom Developer, Vermont Public Radio</h3>
        <p class="date">April 2013 - November 2014</p>
        <p>I made charts, maps, web applications, and performed data analysis in service of VPR's mission of informing the public.</p>
        <p>Lots of "working in public" for this role, including writing explainer posts, publishing drafts of visualizations on twitter, etc.</p>
      </div>

      <div class="project">
        <h3>Geomatics Lab Instructor, University of Vermont</h3>
        <p class="date">September 2010 - December 2010</p>
        <p>I lead an undergraduate lab focused on GIS and surveying. I've been working on the positioning problem for a while now!</p>
      </div>

      <hr>

      <h2 id="recent-work">My Education</h2>
      <p>B.S. Physics, University of Maryland, 2009.</p>
    </div>
  </div>
{% endblock %}
